

ul.nava, ul.navb, ul.navc {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.7em;
	font-weight: 300;
	text-align: center;
	font-size: 0px;
    height: auto;
    background-color: #303030;
}

ul.nava > li span, ul.navb > li span, ul.navc > li span {
	display: block;
	color:#fff;
}

/* Transforms the list into a horizontal navigation */
	.nava > li, .navb > li, .navc > li {
		background: #303030;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
		display: inline-block;
		border-left: 1px solid #666;
		font-size:24px;
		box-sizing: border-box;
	}
	ul.navc > li:last-child, ul.nava > li:last-child, ul.navb > li:last-child {
		border-right: 1px solid#666;
	}
	.nava > li {
        width: 16.66666666666667%;
	}
	.navc >li, .navb >li {
		width: 20%;
	}
	/*ul.nava > li a, ul.navc > li a {
		width: auto;
		padding-bottom: 5px;
	} */
    ul.nava > li a, ul.navb > li a, ul.navc > li a {
	display: block;
	color:rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
	position:relative;
	
}
 .nava i, .navb i, .navc i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.6em;
		border-radius: 50%;
		font-size: 1.4em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
		/* Make the font smoother for Chrome */
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
    }	    
/* Remove the blue Webkit background when element is tapped */
a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */
/*
 ul:hover a, ul.navb:hover a, ul.navc:hover a {
	color:rgba(249, 249, 249, .5);
	
}

 ul.nava:hover a:hover, ul.navb:hover a:hover, .navc:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
	
} */
.navc > li:hover, .navc > li:hover, .navb > li:hover {
	background: #444;
}
	/* Placing the icon */
	.icon {
		padding-top: 1.2em;
    }
	.icon + span {
		margin-top: 1.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
		margin-bottom: 1em;
		font-size: 0.8em;
	}
	/* Positioning the icons and preparing for the animation*/
	/* Animate the box-shadow to create the effect */
	.nava > li:hover i,
	.nava > li:active i,
	.nava > li:focus i,
    	.navb > li:hover i,
    	.navb > li:active i,
	    .navb > li:focus i,
	.navc > li:hover i,
	.navc > li:active i,
	.navc > li:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
div.gre {
	position: relative;
}
div.exptype, div.exp {
	top:0px;
	left:0;
	overflow: hidden;
	display: block;
	width:100%;
}
div.exp {
	z-index: 888;
	position: absolute;
	background-color: #fff;
	/* height: 100%;  Check later to auto or something */
    display: none;
    border-bottom: 1px solid #f5f3f2;
}
div.exp a {
	display: block;
	padding: 2px 0px;
	font-weight: 300;
	color: #121212 !important;
    font-size: 0.8em;
    font-weight: 400;
	-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
    text-decoration: none;
}
div.exp a:nth-child(2n+1){
	background: #f8f8f8;
}
div.exp a:hover {
	background: #002868;
	color: #fff !important;
    text-decoration: none;
    
}
div.bar {
	height: auto;
    width: 100%; /*Added*/
	
}	
.navc > li.tab-current > a::after,
.nava li.tab-current > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color:#f3f1f2;
	border-width: 18px;
	left: 50%;
	margin: -30px 0 0 -15px;
	transform: .3s ease;
}
.navb li.tab-current > div.gre::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color:#f3f1f2;
	border-width: 18px;
	left: 50%;
	margin: -30px 0 0 -15px;
	transform: .3s ease;
}	
@media only screen and (max-width: 560.9px) {
 span.icon {
    padding-top:0.8em;
 }
 span.icon + span {
	  font-size: 0.6em;
	  margin: 0.8em 0em 1.1em 0em;
  }
  
 ul.nava i, ul.navb i, ul.navc i {
	 font-size: 0.9em;
 }

ul.nava > li, ul.navb > li, ul.navc > li {
	width:50%;
	border-bottom: 1px solid #666;
}
div.exp a {
    font-size: 0.6em;
    padding:0px;
}
}
@media  (min-width: 561px) and (max-width: 710.9px){
	.nava i,  .navb i, .navc i {
		font-size: 1.1em;
	}
	span.icon + span {
		font-size: 0.7em;
	}
	div.exp a {
        font-size: 0.7em;
        padding:2px;
    }
    ul.nava > li, ul.navb > li, ul.navc > li {
        width:33.3%;
        border-bottom: 1px solid #666;
	}
	.navc > li.tab-current > a::after,
    .nava li.tab-current > a::after {
		border-width: 16px;
		margin: -33px 0 0 -15px;
	}
}
@media  (min-width: 711px) and (max-width: 1020px){
	.nava i, .navb i, .navc i {
		font-size: 1.1em;
	}
	span.icon + span {
		font-size: 0.7em;
	}
    div.exp a {
        font-size: 0.6em;
        padding:2px;
    }
    
}